<app-navbar></app-navbar>
<br />
<div class="w3-content w3-margin-top" style="max-width: 1400px">
  <div class="w3-row-padding">
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-container">
          <app-personal></app-personal>
          <app-habilidad></app-habilidad>
        </div>
      </div>
    </div>
    <div class="w3-twothird">
      <app-laboral></app-laboral>
      <app-educacion></app-educacion>
    </div>
  </div>
</div>
<app-footer></app-footer>