

<nav class="navbar navbar-expand-lg w3-blue w3-margin-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/logo_ap.png" alt="Logo Argentina Programa" class="w-100">
        </a>
        <!--Botones para las redes sociales y login-->
        <div class="btn-group " role="group" aria-label="Redes sociales y login">
            <a href="https://github.com/med1na" target="_blank" class="btn btn-primary btn-transparent btn-lg">
                <i class="fab fa-github fa-beat fa-xs"></i>
            </a>
            <a href="https://ar.linkedin.com/in/diego-m-1a842b231?trk=people-guest_people_search-card" target="_blank"
                class="btn btn-primary btn-transparent btn-lg">
                <i class="fab fa-linkedin fa-beat fa-xs"></i>
            </a>
            <a href="https://www.youtube.com/@d1egote/videos" target="_blank" class="btn btn-primary btn-transparent btn-lg">
                <i class="fab fa-youtube fa-beat fa-xs"></i>
            </a>
            <a href="https://www.facebook.com/people/Argentina-Programa-40/100084956654182/" target="_blank"
                class="btn btn-primary btn-transparent btn-lg">
                <i class="fab fa-facebook fa-beat fa-xs"></i>
            </a>
            <a href="https://www.instagram.com/argentinaprograma4.0/" target="_blank"
                class="btn btn-primary btn-transparent btn-lg">
                <i class="fab fa-instagram fa-beat fa-xs"></i>
            </a>
            <a routerLink="iniciar-sesion" class="btn btn-primary btn-transparent btn-lg">
                <i class="fa fa-user fa-beat fa-xs"></i>
            </a>
        </div>
    </div>
</nav>
