<nav class="navbar navbar-expand-lg w3-blue w3-margin-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/logo_ap.png" alt="Logo Argentina Programa" class="w-100">
        </a>
        <!--Lista Desordenada para las redes sociales-->
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <a href="https://github.com/med1na" target="_blank"><i class="fa fa-github fa-2x text-white"></i></a>
            </li>
            <li class="list-group-item">
                <a href="https://ar.linkedin.com/in/diego-m-1a842b231?trk=people-guest_people_search-card" target="_blank"><i class="fa fa-linkedin fa-2x text-white"></i></a>
            </li>
            <li class="list-group-item">
                <a href="https://www.youtube.com/@d1egote/videos" target="_blank"><i class="fa fa-youtube fa-2x text-white"></i></a>
            </li>    
            <li class="list-group-item">
                <a href="https://www.facebook.com/people/Argentina-Programa-40/100084956654182/" target="_blank"><i class="fa fa-facebook-official  fa-2x text-white"></i></a>
            </li>
            <li class="list-group-item">
                <a href="https://www.instagram.com/argentinaprograma4.0/" target="_blank"><i class="fa fa-instagram fa-2x text-white"></i></a>
            </li>
            <li class="list-group-item">
                <a href=""><i class="fa fa-pinterest-p fa-2x text-white"></i></a>
            </li>
        </ul>    
    </div>
</nav>
