<nav class="navbar navbar-expand-lg w3-blue">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/logo_ap.png" alt="Logo Argentina Programa" class="w-100">
        </a>
        <!--Lista Desordenada para las redes sociales y login-->
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <a href="https://github.com/med1na" target="_blank"><i class="fa fa-github fa-2x text-white"></i></a>
            </li>
            <li class="list-group-item">
                <a href="https://ar.linkedin.com/in/diego-m-1a842b231?trk=people-guest_people_search-card" target="_blank"><i class="fa fa-linkedin fa-2x text-white"></i></a>
            </li>
            <li class="list-group-item">
                <a href="https://twitter.com/argprograma" target="_blank"><i class="fa fa-twitter fa-2x text-white"></i></a>
            </li>    
            <li class="list-group-item">
                <a href="https://www.facebook.com/people/Argentina-Programa-40/100084956654182/" target="_blank"><i class="fa fa-facebook-official  fa-2x text-white"></i></a>
            </li>
            <li class="list-group-item">
                <a href="https://www.instagram.com/argentinaprograma4.0/" target="_blank"><i class="fa fa-instagram fa-2x text-white"></i></a>
            </li>
            <li class="list-group-item">
                <a href=""><i class="fa fa-pinterest-p fa-2x text-white"></i></a>
            </li>
        </ul>    
    </div>
</nav>

<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- Grilla -->
    <div class="w3-row-padding">
    
      <!-- Columna Izquierda-->
      <div class="w3-third">
      
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img src="assets/fotoperfil.jpg" style="width:100%" alt="Diego">
            <div class="w3-display-bottomleft w3-container w3-text-white">
              <h2>Diego Medina</h2>
            </div>
          </div>
          <div class="w3-container">
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-blue"></i>Desarrollador Full Stack Jr.</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-blue"></i>Jujuy, AR</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-blue"></i>correo@electronico.com</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-blue"></i>+549 388 1234567</p>
            <hr>
  
            <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-blue"></i>Habilidades</b></p>
            <p>Visual Studio Code</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:50%">50%</div>
            </div>
            <p>Linux</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:70%">
                <div class="w3-center w3-text-white">70%</div>
              </div>
            </div>
            <p>Microsoft Office</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:90%">90%</div>
            </div>
            <p>Media</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:80%">80%</div>
            </div>
            <br>
  
            <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-blue"></i>Idiomas</b></p>
            <p>Español</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-blue" style="height:24px;width:100%"></div>
            </div>
            <p>English</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-blue" style="height:24px;width:55%"></div>
            </div>
            <p>German</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-blue" style="height:24px;width:1%"></div>
            </div>
            <br>
          </div>
        </div><br>
  
      <!-- Fin de Columna Izquierda -->
      </div>
  
      <!-- Columna Derecha -->
      <div class="w3-twothird">
      
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Experiencia Laboral</h2>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Desarrollador Full Stack Jr. / ArgentinaPrograma.inti.gob.ar</b></h5>
            <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mayo 2023 - <span class="w3-tag w3-blue w3-round">Cursando</span></h6>
            <p>#YoProgramo es un curso de la segunda etapa de Argentina Programa 4.0 en el que vas a adquirír las habilidades y herramientas para convertirte en un programador web full-stack junior.</p>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Analista Técnico / Agencia Territorial</b></h5>
            <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Abr 2000 - Dec 2022</h6>
            <p>Perfil flexible y adaptable a las necesidades de cambio de los negocios, orientado a resultados con capacidad de liderazgo, negociación y trabajo en equipo.
              Aplicación de mi experiencia en la Administración Pública, gestionando programas que administran proyectos orientados a la generación de nuevos empleos.</p>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Web Developer / something.com</b></h5>
            <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Dec 2014</h6>
            <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Graphic Designer / designsomething.com</b></h5>
            <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>
          </div>
        </div>
  
        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Educación</h2>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>ArgetinaPrograma</b></h5>
            <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
            <p>Web Development! All I need to know in one place</p>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>ENET N° 1 - Escolástico Zegada</b></h5>
            <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1993 - 1998</h6>
            <p>Técnico Mecánico Electricista</p>
            <hr>
          </div>
        </div>
  
      <!-- Fin Columna Derecha -->
      </div>
      
    <!-- Fin Grilla -->
    </div>
    
    <!-- Fin Contenedor de ppagina -->
  </div>

    <!-- Pie de pagina -->

  <footer class="w3-container w3-blue w3-center w3-margin-top">
    <p>No utilizo redes sociales ;)</p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p>Tutoría de <a href="https://argentinaprograma.inti.gob.ar/" target="_blank">ArgPro</a></p>
  </footer>
  

<router-outlet></router-outlet>
