
<div *ngFor="let persona of personas">
  <div class="w3-display-container">
    <br>
    <img src="assets/fotoperfil.jpg" style="width: 100%" alt="Diego" class="rounded"/>
    <div class="w3-display-bottomleft w3-container w3-text-white">
      <h2>{{persona.nombre_usuario}}</h2>
    </div>
  </div>
  <br>
  <div class="w3-container">
    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-blue"></i>Desarrollador Full Stack Jr. </p>
    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-blue"></i>Jujuy, AR </p>
    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-blue"></i>{{persona.mail}}</p>
    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-blue"></i>+549 388 1234567 </p>
  </div>
</div>

