<!--Detalles de las experiencias laborales-->
<div class="w3-container w3-card w3-white w3-margin-bottom">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="w3-text-grey w3-padding-16"><i
        class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Experiencia Laboral</h2>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn" data-bs-toggle="modal" data-bs-target="#addLaboralModal">
        <i class='far fa-plus-square' style='font-size:24px;color:rgba(18, 180, 3, 0.886)'></i>
      </button>
    </div>
  </div>
  
  <div class="w3-container" *ngFor="let Laboral of laborales">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="w3-opacity"><b>{{Laboral.nombre_trabajo}} / {{Laboral.nombre_empresa}} </b></h5>
  
      <!-- Button  borrar-->
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn" data-bs-toggle="modal" data-bs-target="#borrarLaboral">
          <i class='far fa-trash-alt' style='font-size:18px;color:red' (click)="borrar(Laboral.idtrabajo)"></i>
        </button>
        <!-- Button  modificar -->
        <button type="button" routerLink="editandoExpLaboral/{{Laboral.idtrabajo}}" class="btn btn-close-black">
          <i class='fa fa-pencil-square-o' style='font-size:20px;color:rgb(0, 140, 255)'></i>
        </button>
      </div>
    </div>
    <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{Laboral.fecha_inicio}} -
      {{Laboral.fecha_fin}}</h6>
    <p>{{Laboral.descripcion}}</p>
    <hr>
    </div>
</div>

<!-- Modal para agregar Exp Laboral-->
<app-modal-laboral-add></app-modal-laboral-add>